.container{
  min-height: 100vh;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid black;
  height: fit-content;
  padding: 1rem;
  font-size: 32px;
}

.versionsHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  height: fit-content;
  padding: 1rem;
  font-size: 20px;
}

.versions{
  transition: transform 0.3s ease;
}

.activeVersion{
  transform: translateY(-2px);
  text-decoration: underline; 
  text-underline-offset: 3px;
}

.versions:hover{
  cursor: pointer;
  color: #555555;
}

.pages{
  width: fit-content;
  transition: transform 0.3s ease;
}

.active{
  text-decoration: underline;
  text-underline-offset: 5px;
  transform: translateY(-4px);
}

.page{
  padding: 1rem;
  min-height: calc(100vh - 6rem - 4px - 5px);
}

.pages:hover{
  cursor: pointer;
  color: #555555;
}

.plus:hover{
  cursor: pointer;
  color: #555555;
}

.cke{
  border-bottom: 1px solid black;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.buttons button{
  margin-left: 1rem;
}

.saveIco{
  width: 1rem;
}