.header{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid black;
  height: fit-content;
  padding: 1rem;
}

.pages{
  width: fit-content;
  font-size: 30px;
  transition: transform 0.3s ease;
}

.active{
  text-decoration: underline;
  text-underline-offset: 5px;
  transform: translateY(-4px);
}

.page{
  padding: 1rem;
}

.pages:hover{
  cursor: pointer;
  color: #555555;
}

.cke{
  border-bottom: 1px solid black;
}